{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    
    <div class="overlay"></div>
    <div class="row">
        <div class="col text-center">
            <hr>
                <h2 class="logo-font mb-4">Events</h2>
                <hr>
            <div class="events table-responsive">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Location</th>
                            <th>Contact Information</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in events %}
                            <tr>
                                <td>{{ event.name }}</td>
                                <td>{{ event.date }}</td>
                                <td>{{ event.location }}</td>
                                <td>{{ event.contact_info }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}