{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <hr>
                <h2 class="logo-font mb-4">Communities</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            {% for communities in communities %}
                <div class="col-sm-6 col-md">
                    <div class="card" style="width: 18rem;">
                        <a href="{{ community.logo.url }}" target="_blank">
                            <img src="{{ community.logo.url }}" alt="{{ community.name.name }}" class="card-img-top img-fluid">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">{{ community.name }}</h5>
                            <p class="card-text">{{ community.description }}</p>
                            <a href="{{ community.url }}" class="btn btn-primary">Visit {{ community.name }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}