{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <hr>
                <h2 class="logo-font mb-4">Communities</h2>
                <hr>
            </div>
        </div>

        <div class="row mb-4">
            {% for communities in communities %}
                <div class="col-sm-4 col-md">
                    <div class="card text-center" style="width: 18rem;">
                            <img src="{{ communities.logo.url }}" alt="{{ communities.name.name }}" class="card-img-top img-fluid">
                        <div class="card-body">
                            <h5 class="card-title">{{ communities.name }}</h5>
                            <p class="card-text">{{ communities.description }}</p>
                            <a href="{{ communities.url }}" class="btn btn-primary" target="_blank">Visit {{ communities.name }}</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}